
  .container {
  display : flex;
  background : #FFEB33;
  border : 1px solid #DDC911;
  width : 360px;
  height : 587px;
  box-shadow: 1px 1px 1px 1px #F0F0F0, -1px -1px 1px 1px #F0F0F0;
  flex-direction : column;
  align-items: center;
  }

#item1{
padding-top: 27px;
}
#circle{
padding-top: 5px;
}
#item5{
      padding-top: 3px;
}
#item10{
padding-top: 4px;
padding-right: 4px;
}


.container #id{
padding-bottom: 0px;
border-bottom: 0px;
font-size: 12px;
font-weight: 50;
}

.container #password{
color: black;

}
.container .item4{
  padding-top: 4px;
}

input[type="checkbox"]{
display : none;
}

input[type="checkbox"] + label{
    cursor: pointer;
}

input[type="checkbox"] + label:before{
content: "";
width: 13px;
height: 13px;
border: 1px solid #EFE33F;
background: white;
position: absolute;

}



input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  text-align: center;
  font-size: 6px;
  color : black;
  width: 13px;
  height: 9px;
  padding-top: 2px;
  padding-bottom : 2px;
  font-weight: lighter;
  }



#id {
padding-left:6px;
padding-right: 37px;
}

#password{
  padding-left:6px;
  padding-right: 10px;
  -webkit-text-security:disc;
  border-top : 1px solid #F2F2F2;
  font-size: 13px;
  font-weight: 50;
  color : #ACACAC;
}


.container #item8{
padding-top: 145px;
}
.container #item9{
padding-top: 145px;
}

#gridd
{
border: none ;
display:grid;
grid-template-columns:  1fr 2fr;
align-self:  flex-end	;
cursor: pointer;


}


#grid2
{
border: none ;
display:grid;
grid-template-columns:  79px  1fr;
align-self:flex-start;
padding-top: 4px;
font-size: 12px;
font-weight: normal;
color: #7F7519
}
#wkehd{
      padding-top: 3px;
      z-index: 1;
      cursor: pointer;
}
#checkbox{
  z-index: 2;
}

#grid
{
border: none ;
display:grid;
grid-template-columns:  1fr 1fr;
font-size: 12px;
font-weight: 400;
color: #7F7519
}

span {
border-right: solid 1px #E5D32E
}

 #remind{
  border : none;
}

#물음표 {
    text-align: bottom;
    cursor: pointer;
  }

  .imgSelect {
    cursor: pointer;
  }

  .popupLayer {
    position: absolute;
    display: none;
    background-color: #4D470F;
    border: solid 1px #4D470F;
    width: 232px;
    height: 50px;
    padding: 7px;
    font-size: 12px;
    color: #FFF9C1;
    text-align: left;
    font-weight: lighter;
  }
  .popupLayer div {
    position: absolute;
    top: 5px;
    right: 5px
  }

  .popupLayer:after {
 border-top:5px solid transparent;
 border-left: 7px solid transparent;
 border-right: 7px solid transparent;
 border-bottom: 6px solid #4D470F;
 content:"";
 position:absolute;
 top:-10px;
 left:115px;
 font-weight: lighter;

}


#block{
width: 100%;
padding-left: 120px;

}
input:focus {outline:none;}

input#id{
  width : 200px;
  color: black;
}



input{
  color : #ACACAC;
  border : 1px solid #DDC911;
  width : 227px;
  height : 37px;
  color: ;
}

input::placeholder{
  font-weight: 50;
  color : #ACACAC;
}
input[type="submit"]{

  width: 36px;
  padding-bottom: 7px;
  color: #666666;
  font-size: 16px;
  cursor: pointer;


}

input[type="button"]{
      width: 245px;
}

.form2 > form{
  display : inline-block;
  position : relative;
}
.form2 > form > input[type="submit"]{
  font-family: "FontAwesome";
  font-weight : 900;
  position : absolute;
  border : none;
  background-color : transparent;
  right : 5px;
  top : 5px;
}

#button{

}

#button.on{
  background-color: #423630;
  color: white;
}

#serch{
  cursor: pointer;
}

#remind{
cursor: pointer;
}

a{
color: #7F7519;
text-decoration: none;
}
